Package: egg
Version: 0.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Midnight Doggo <git@midnightdoggo19.com>
Description: Lets you know when long commands are done baking.
Homepage: https://github.com/midnightdoggo19/egg

